@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Think you can spot a fake quote? Test your wisdom and uncover the truth - one famous saying at a time!</a>.</p>
</div>
